.navbar-expand-md .nav-top{
    background: rgb(72,66,173);
    background: linear-gradient(90deg, rgba(72,66,173,1) 0%, rgba(41,73,163,1) 64%, rgba(36,149,172,1) 100%);
    
}

.fixed-top{
    background-color: #0093E9;
    background-image: linear-gradient(204deg, #0093E9 27%, #66a7c1 52%, #617ff9 87%);
    
}

.navbar-light .navbar-nav .nav-link {
     color: white;
}

